<button mat-raised-button color="warn" class="examplebtn"
        (click)="ejercicioUno($event)" >Ejercicio UNO</button>

<button mat-raised-button color="warn" class="examplebtn"
        (click)="ejercicioDos($event)" >Ejercicio DOS</button>

<button mat-raised-button color="warn" class="examplebtn"
        (click)="ejemplo1($event)" >Ejemplo1 DOS</button>

<button mat-raised-button color="accent" class="examplebtn"
        (click)="ejemplo($event)" >Ejemplo</button>

<button mat-raised-button color="accent" class="examplebtn"
        (click)="parcial($event)" >Parcial 18-09</button>


<app-debug [inputStream$]='debug$' ></app-debug>